@model DailyActivities_Web.Models.DailyActivity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DailyActivity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetUpTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetUpTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SleepTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SleepTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BadWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BadWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quran)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quran)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ramadan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ramadan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
